.rambling {
  display: flex;
  flex-flow: row wrap;
  max-width: 1000px;
  color: white;
}

.journal {
  flex: 1 1 100%;
  margin: 0 60px;
  flex-flow: column wrap;
  text-align: center;
}

.journal-day {
  font-size: 13px;
  color: $orange-light;
  text-transform: uppercase;
}

.journal-title {
  color: white;
  text-decoration: none;

}

.journal-description {
  text-align: left;
  color: #fffcfb;
  font-weight: normal;
}