@media screen and (min-width: $lg-screen){
  .team {
    text-align: left;
  }

  .member {
    flex-basis: 50%;
  }

  .member-header {
    justify-content: left;
  }

  .member-avatar {
    height: 80px;
    width: 80px;
  }

  .member-social-media {
    justify-content: left;
  }
}