%h1 {
  font: 15px/24px "raleway-heavy", sans-serif;
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin-bottom: 40px;
  text-align: center;
  position: relative;
  padding-top: 110px;

  &::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 9.3em;
    content: " ";
    border: solid $orange-light;
    border-width: 3px 0 0;
    width: 90px;
    margin: 11px auto 15px;
    height: 0;
    clear: both;
    text-align: center;
    display: block;
  }

  &::after {
    content: ".";
    color: $orange-light;
  }
}

.h1-grey {
  @extend %h1;
  color: $grey-title;
}

.h1-white {
  @extend %h1;
  color: white;
}

.h2 {
  font: 16px/36px "raleway-heavy", sans-serif;
  color: #252525;
  margin: 18px 0 15px;
  text-align: center;
  
  &::after {
    content: ".";
  }
}

.h3 {
  font: 13px/24px "raleway-bold", sans-serif;
  margin-bottom: 0;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}