.l-constraint {
  padding-left: 20px;
  padding-right: 20px;
}

.l-header {
  position: fixed;
  background-color: $grey-darker;
  width: 100%;
  height: $offset-65;
}

.l-works {
  background-color: white;
}

.l-services {
  background-color: $grey-lighter;
}

.l-values {
  background-color: white;
  padding-bottom: 50px;
}

.l-team {
  padding-left: 30px;
  padding-right: 30px;
  background-color: $grey-lighter;
}

.l-ramblings {
  background: #a43b0a $img-journal no-repeat bottom center fixed;
  background-size: cover;
}